.categoryTablet{
    height: 20px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    
    border-radius: 5px;
    background-color: #eef7f6;
}

.categoryName{
    margin: 0px 5px 0px 5px;

    font-size: 0.8rem;
    color: var(--desaturated-dark-cyan);
}

.closeButton{
    width: 20px;
    height: 20px;

    border-radius: 0px 5px 5px 0px;
    background-color: var(--desaturated-dark-cyan);
}

.closeButton:hover{
    background-color: var(--very-dark-grayish-cyan);
}

.categoryTablet .closeButton{
    align-self: flex-end;
}
